.call {
    background-color: #D32608;
 }
 
 .email {
 background-color: #D36C00;
 }
 
 .meeting {
 background-color: #A2D300;
 }
 
 .send{
 background-color: #00A2D3;
 }
 
 .milestone {
 background-color: #00D283;
 }
 
 .follow-up {
 background-color: #D2C300;
 }
 
 .none {
    display: none;
 }


 .black {
    color: #000;
 }