ul {
    list-style-type: none;
}

.f-w-500 {
    font-weight: 500;
}

.ml-2 {
    margin-left: 2rem;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
}



.ms-4-5
{
    margin-left: 2rem;
}

.call {
    background-color: #D32608;
 }
 
 .email {
 background-color: #D36C00;
 }
 
 .meeting {
 background-color: #A2D300;
 }
 
 .send{
 background-color: #00A2D3;
 }
 
 .milestone {
 background-color: #00D283;
 }
 
 .follow-up {
 background-color: #D2C300;
 }
 
 .none {
     display: none;
 }


.mh-2 {
    min-height: 2rem;
}



 .male {
    color:#3131efa1
}
.female {
    color:#d81fe491
}


 